h1{
   /* background-color: lightslategray;*/
    color:red;
    text-shadow :5px 5px 4px rgb(0, 0, 0);
    text-decoration:wavy underline ;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font: weight 500px;
}
p{
    background-color: aquamarine;
    width:300px;
    word-spacing: 10px;
    letter-spacing: 3px;
    box-shadow: 20px 20px 20px rgb(47, 158, 255);
    background:linear-gradient(to top,red,green,blue,yellow);
    text-align: center;
}
pre{
    background-color: lightskyblue;
    width:500px;
    background:linear-gradient(to top, red,white,green,yellow);
}